@font-face {
    font-family: 'gobold_high_thinregular';
    src: url('./gobold/gobold_high_thin-webfont.woff2') format('woff2'), url('./gobold/gobold_high_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_highregular';
    src: url('./gobold/gobold_high-webfont.woff2') format('woff2'), url('./gobold/gobold_high-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_hollowregular';
    src: url('./gobold/gobold_hollow-webfont.woff2') format('woff2'), url('./gobold/gobold_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_thin_lightregular';
    src: url('./gobold/gobold_light-webfont.woff2') format('woff2'), url('./gobold/gobold_light-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_lowplusregular';
    src: url('./gobold/gobold_lowplus-webfont.woff2') format('woff2'), url('./gobold/gobold_lowplus-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'goboldregular';
    src: url('./gobold/gobold_regular-webfont.woff2') format('woff2'), url('./gobold/gobold_regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_thinregular';
    src: url('./gobold/gobold_thin-webfont.woff2') format('woff2'), url('./gobold/gobold_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_uplowregular';
    src: url('./gobold/gobold_uplow-webfont.woff2') format('woff2'), url('./gobold/gobold_uplow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_high_thinregular';
    src: url('./gobold/gobold_high_thin-webfont.woff2') format('woff2'), url('./gobold/gobold_high_thin-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_highregular';
    src: url('./gobold/gobold_high-webfont.woff2') format('woff2'), url('./gobold/gobold_high-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_hollowitalic';
    src: url('./gobold/gobold_hollow_italic-webfont.woff2') format('woff2'), url('./gobold/gobold_hollow_italic-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'gobold_hollowregular';
    src: url('./gobold/gobold_hollow-webfont.woff2') format('woff2'), url('./gobold/gobold_hollow-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
