@font-face {
    font-family: 'Segoe Print';
    src: url('./gobold/SegoePrint.woff2') format('woff2'), url('./gobold/SegoePrint.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}